.main,
.main2,
.main3,
.main4,
.main5,
.main6,
.main7,
.main8,
.main9,
.main10 {
  background-color: black;
  animation: fadein 1s;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
}

.main {
    background-image: url("./background-1.avif");
}

.main2 {
    background-image: url("./background-2.avif");
}

.main3 {
    background-image: url("./background-3.avif");
}

.main4 {
    background-image: url("./background-4.avif");
}

.main5 {
    background-image: url("./background-5.avif");
}

.main6 {
    background-image: url("./background-6.avif");
}

.main7 {
    background-image: url("./background-7.avif");
}

.main8 {
    background-image: url("./background-8.avif");
}

.main9 {
    background-image: url("./background-9.avif");
}

.main10 {
    background-image: url("./background-10.avif");
}
